{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/music.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<script
    src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>

<body>
    <header>Music Generator</header>

    <div>
        <midi-player src="{% static 'music/output.mid' %}" sound-font visualizer="#myVisualizer">
        </midi-player>
        <midi-visualizer type="piano-roll" id="myVisualizer"></midi-visualizer>
    </div>



    <form method="post" enctype="multipart/form-data" action="predict_lstm">
        {% csrf_token %}



        <input type="submit" value="Predict">
    </form>



</body>

</html>